.container{
  height: calc(100vh - 100px);
  display: flex;
}

.title{
  padding-bottom: 9px;
}

.left{
  flex: 1;
  height:100%;
  display: flex;
  align-items: center;
  justify-content:center;
}

.right{
  flex: 1;
  position: relative;
  top: 150px;
}

.imgContainer{
  width: 80%;
  height: 87%;
  position:relative;
  margin-top:50px;
}

.price{
  color: #e51d26;
  font-size: 24px;
  font-weight: 400;
  border-bottom: 1px solid #e51d26;
}

.choose{
  margin-top: 15px;
}

.amounts{
  width: 40%;
  display: flex;
  justify-content: space-between;
   margin-top: 15px;
}

.amount{
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.amount:nth-child(2){
  width: 40px;
  height: 40px;
}

.amount:last-child{
  width: 50px;
  height: 50px;
}

.text{
  position: absolute;
  top: -5px;
  right: -20px;
  background-color: teal;
  color: white;
  font-size: 12px;
  padding: 0 5px;
  border-radius: 10px;
}

.ingredients{
  display: flex;
  margin-bottom: 30px;
  margin-top: 15px;
}

.options{
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
}

.checkbox{
  width: 20px;
  height: 20px;
  margin: 5px;
}

.quantity{
  width: 50px;
  height: 30px;
}

.button{
  height: 30px;
  margin-left: 10px;
  background-color: #e51d26;
  color: white;
  border: none;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 10px;

}
